body {
    text-align: center;
}

#img1 {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    align-content: center;
    margin-bottom: 0px;
    margin-left: 45%;
    margin-right: 50%;
    margin-top: 0px;
}

marquee {
    background-color: aquamarine;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
}

h5 {
    text-align: center;
    margin-bottom: 0px;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 0px;
}

h4 {
    color: mediumslateblue
}

p {
    font-size: 50px;
    color: mediumslateblue;
}

.travel_maindiv img {
    width: 100%;
}

.travel_maindiv hr {
    width: 230px;
}

.travel_maindiv h5,
.travel_maindiv p {
    margin-left: 20px;
}

.travel_maindiv {
    border: 1px solid grey;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.award_text span {
    color: orange;
}
